dl.ref {
  counter-reset: pub-counter-1;
  padding-left: 50px;
  padding-top: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  & dt {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 /3;
  }
  & dt:before {
    grid-column: 1;
    content: "[" counter(pub-counter-1) "] ";
    counter-increment: pub-counter-1;
    margin-right: 0.5em;
  }
  & dd {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/3;
  }
}

dl.ref > dt:before {
  content: "[" counter(pub-counter-1) "] ";
  counter-increment: pub-counter-1;
  position: relative;
  left: -10px;
}

dl.ref > dd:before {
  content: "[" counter(pub-counter-2) "] ";
  counter-increment: pub-counter-2;
  position: relative;
  left: -10px;
  font-weight: bold;
  visibility: hidden;
}

dl.ref > dd {
  margin-bottom: 20px;
}

div.entry {
  display: inline-block;
}

div.buttons {
  margin-top: 5px;
}

img.card-img-top {
  height: 75px;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.container-spacing {
  margin-top: 1em;
}

.card-title {
  font-size: 16pt;
  text-align: center;
}

.grants img {
  display: block;
  margin: 0px auto;
  max-height: 75px;
}

.card-subtitle {
  text-align: center;
}

.btn-primary {
  background-color: #5436c0;
  border-color: #5436c0;
}

.btn-primary:hover {
  background-color: #291879;
  border-color: #5436c0;
}

.abstract {
  border : 1px solid #888888;
  padding: 10px;
  margin-bottom: 4px;
}
